<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3am Social Media Network</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="./main.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> 
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap"
      rel="stylesheet" />
    <!-- Icons Set -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>

  <body>
    <!-- Page wrapper -->
    <div id="wrapper">
      <!-- Navbar -->
      <nav class="navbar bg-white z-2 fixed-top shadow-sm py-sm-2 px-sm-3">
        <div class="container-fluid">
          <a
            class="navbar-brand text-primary ms-4 fs-4 fw-semibold"
            style="font-family: Bubblegum Sans"
            >3am Social Network</a
          >
          <form class="d-flex" role="search">
            <button
              type="button"
              class="btn btn-primary me-4 fw-medium px-sm-4"
              data-bs-toggle="modal"
              data-bs-target="#signup"
              data-bs-whatever="@signup">
              Sign up
            </button>
            <input
              class="search me-2 border-0 rounded bg-body-secondary px-sm-5 py-sm-2"
              type="search"
              placeholder="enter search keywords"
              aria-label="Search" />
          </form>
        </div>
      </nav>

      <!-- Modal for Sign Up -->
      <div
        class="modal fade m-3"
        id="signup"
        tabindex="-1"
        aria-labelledby="signuupLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="signupLabel">New message</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <form action="/M00914279/user/register" method="post">
            <div class="modal-body">
              
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="InputFname" class="form-label"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inputFname"
                      name="fname"
                      aria-describedby="Fname" />
                  </div>

                  <div class="mb-3 col-6">
                    <label for="InputFname" class="form-label">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputLname"
                      name="lname"
                      aria-describedby="Lname" />
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="InputEmail1" class="form-label"
                      >Email address</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="InputEmail1"
                      name="email"
                      aria-describedby="emailHelp" />
                  </div>
                  <div class="mb-3 col-6">
                    <label for="InputUsername" class="form-label"
                      >Username</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      id="InputUsername" />
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="InputPassword1" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password1"
                      id="InputPassword1" />
                  </div>
                  <div class="mb-3 col-6">
                    <label for="InputPassword2" class="form-label"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password2"
                      id="InputPassword2" />
                  </div>
                </div>
              <!-- </form> -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary text-white"
                data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <!-- Main Content (Guest) -->
      <div class="container-fluid g-0">
        <div class="row gx-0">
          <!-- Left Section -->
          <div
            class="col-xl-9 left-section position-relative d-flex align-items-center justify-content-center overflow-hidden pt-1">
            <div class="text-center z-1 w-75">
              <div class="px-3 lh-sm">
                <h1 class="fs-1 fw-bolder mt-0">
                  Welcome to 3am Social Network
                </h1>
                <p class="fs-5 fw-medium mt-4">
                  The ultimate platform for aspiring artists, musicians,
                  producers, and DJs worldwide to connect, collaborate, and
                  create together. Whether you're a seasoned professional or
                  just starting your journey in the music industry, 3am Social
                  Network is your gateway to a vibrant community of like-minded
                  individuals passionate about music.
                </p>
                <button
                  class="btn btn-primary fw-medium px-sm-4"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#login"
                  data-bs-whatever="@login">
                  Login
                </button>
              </div>
            </div>

            <!-- Login Modal -->
            <div
              class="modal fade m-3"
              id="login"
              tabindex="-1"
              aria-labelledby="loginLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginLabel">Login</h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Login form  -->
                    <form>
                      <div class="row">
                        <div class="mb-3 col">
                          <label for="InputUsername" class="form-label"
                            >Username</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="InputUsername" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="mb-3 col">
                          <label for="InputPassword1" class="form-label"
                            >Password</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            id="InputPassword1" />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary text-white"
                      data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Section -->
          <div
            class="col-xl-3 align-items-center justify-content-center pt-5 mt-4"
            style="background-color: whitesmoke">
            <p class="text-center fw-bolder fs-5 mb-0">News Feed</p>
            <div class="card m-auto mt-2" style="width: 22rem">
              <img
                src="/Assets/img/img-233.jpg"
                class="card-img-top"
                alt="Music band photo" />
              <div class="card-body">
                <h5 class="card-title fs-6 fw-bold">
                  New Album Release: "Midnight Melodies"
                </h5>
                <p class="card-text fs-6 lh-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris interdum.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Section (If User Authenticated == True) -->
      <div class="container-fluid g-0 bg-body-secondary p-4">
        <div class="row">
          <div class="col-xl-9">
            <!-- Title Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h4 mb-0 text-muted">Welcome User</h1>
            </div>
            <div class="row mb-5">
              <!-- Pending Requests -->
              <div class="col-xl-7">
                <div class="card mb-4">
                  <!-- Card Header -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Pending Requests
                    </h6>
                  </div>
                  <!-- List of requests -->
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">John Matthew</span>
                      <div class="ms-auto">
                        <button
                          type="button"
                          class="btn btn-success fw-medium px-sm-4 text-white">
                          Accept
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger fw-medium px-sm-4">
                          Reject
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Greg Phillips</span>
                      <div class="ms-auto">
                        <button
                          type="button"
                          class="btn btn-success fw-medium px-sm-4 text-white">
                          Accept
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger fw-medium px-sm-4">
                          Reject
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Cole Peterson</span>
                      <div class="ms-auto">
                        <button
                          type="button"
                          class="btn btn-success fw-medium px-sm-4 text-white">
                          Accept
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger fw-medium px-sm-4">
                          Reject
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Susie Thomas</span>
                      <div class="ms-auto">
                        <button
                          type="button"
                          class="btn btn-success fw-medium px-sm-4 text-white">
                          Accept
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger fw-medium px-sm-4">
                          Reject
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Connection List Showing Friends -->
              <div class="col-xl-5">
                <div class="card mb-4">
                  <!-- Card Header -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Connection List
                    </h6>
                  </div>

                  <!-- List of connections -->
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Anthony Joshua</span>
                    </div>
                  </div>

                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Eben Thompson</span>
                    </div>
                  </div>

                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Joel Anderson</span>
                    </div>
                  </div>

                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Stacey Brighton</span>
                    </div>
                  </div>

                  <hr class="divider my-0" />
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <span class="m-auto ms-0 fw-medium">Anna Rogers</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Title Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h4 mb-0 text-muted">Create Post</h1>
            </div>
            <div class="row mb-5">
              <div class="col-xl-3 col-md-6 mb-4 w-100">
                <!-- Create New Post -->
                <button
                  type="button"
                  class="btn fw-medium border-0 m-0 p-0"
                  data-bs-toggle="modal"
                  data-bs-target="#createPost">
                  <div class="card border-left-primary shadow h-100 py-2 pe-5">
                    <div class="card-body p-auto">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs fw-bold text-primary text-uppercase mb-1">
                            Click To Create New Post
                          </div>
                          <div
                            class="h5 mb-0 fw-bold text-start text-secondary">
                            Text/Photo
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="bi bi-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </button>
              </div>
            </div>

            <!-- Create Post Modal -->
            <div
              class="modal fade m-3"
              id="createPost"
              tabindex="-1"
              aria-labelledby="createPostLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createPostLabel">
                      Create Post
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Create post form content -->
                    <form>
                      <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input
                          type="text"
                          class="form-control"
                          id="postTitle"
                          aria-describedby="postTitleHelp" />
                      </div>
                      <div class="mb-3">
                        <label for="postContent" class="form-label"
                          >Content</label
                        >
                        <textarea
                          class="form-control"
                          id="postContent"
                          rows="3"></textarea>
                      </div>

                      <!-- Upload section -->
                      <div class="upload">
                        <!-- ... -->
                        <div class="drop_box">
                          <header>
                            <h4>Select file here</h4>
                          </header>
                          <p>Files Supported: JPG, JPEG & PNG</p>
                          <input
                            type="file"
                            hidden
                            accept=".jpg,.jpeg,.png"
                            id="fileID"
                            style="display: none" />
                          <button
                            type="button"
                            class="btn btn-primary"
                            id="chooseFileBtn">
                            Choose File
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary text-white"
                      data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Post Now
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Popular Posts -->
            <div class="row mb-5">
              <!-- Title Heading -->
              <div
                class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h4 mb-0 text-muted">Popular Posts</h1>
              </div>
              <div class="col">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img
                        src="/Assets/img/img-201.jpg"
                        class="card-img-top"
                        alt="Music band" />
                      <div class="card-body">
                        <h5 class="card-title">
                          Meet the Talented Artists of Our Community!
                        </h5>
                        <p class="card-text">
                          It's that time of the week again, folks! Get ready to
                          meet some incredible talents who are lighting up our
                          musical community with their passion and creativity.
                        </p>
                      </div>
                      <div class="card-footer d-flex">
                        <small class="text-muted">Posted 6 mins ago</small>
                        <small class="text-muted me-0 m-auto"
                          >By Eben Thompson</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img
                        src="/Assets/img/img-202.jpg"
                        class="card-img-top"
                        alt="Music band" />
                      <div class="card-body">
                        <h5 class="card-title">
                          An epic night of musical fusion!
                        </h5>
                        <p class="card-text">
                          Our next jam session is just around the corner, and
                          we're dialing up the excitement to eleven! Join us
                          this Friday night at our studio for an unforgettable
                          musical fusion experience.
                        </p>
                      </div>
                      <div class="card-footer d-flex">
                        <small class="text-muted">Posted 30 mins ago</small>
                        <small class="text-muted me-0 m-auto"
                          >By Joel Anderson</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img
                        src="/Assets/img/img-203.jpg"
                        class="card-img-top"
                        alt="Music band" />
                      <div class="card-body">
                        <h5 class="card-title">
                          Unlock Your Sound with the Latest Equipment Trends!
                        </h5>
                        <p class="card-text">
                          In this edition of Gear Talk, we're diving deep into
                          the hottest trends and innovations in musical gear.
                        </p>
                      </div>
                      <div class="card-footer d-flex">
                        <small class="text-muted">Posted 52 mins ago</small>
                        <small class="text-muted me-0 m-auto"
                          >By Stacey Brighton</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Connect With -->
          <div class="col-xl-3 border-start border-2">
            <!-- Title Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h4 mb-0 text-muted">Connect With Today</h1>
            </div>
            <div class="card mb-4">
              <!-- Card Header -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                  People You May Know
                </h6>
              </div>
              <!-- List of requests -->
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">John Matthew</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Greg Phillips</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Cole Peterson</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Susie Thomas</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Emily Johnson</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Daniel Patel</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Olivia Thompson</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Liam Williams</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>

              <hr class="divider my-0" />
              <div class="card-body">
                <div class="d-flex flex-row">
                  <span class="m-auto ms-0 fw-medium">Charlotte Brown</span>
                  <div class="ms-auto">
                    <button
                      type="button"
                      class="btn btn-success fw-medium px-sm-4 text-white">
                      Send Request
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; 3am Social Network 2024</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/Assets/js/main.js"></script>
  </body>
</html>
