/* Global Styles */

body {
  font-family: "Mulish", sans-serif;
}

input {
  outline: none;
}

#wrapper {
  background-color: lightgrey;
}

.search {
  background: whitesmoke;
  outline: none;
}

.search::placeholder {
  color: #939393;
}

/* Left Section */
.left-section {
  height: 100vh;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

/* Upload box */
.drop_box {
  margin: 2rem;
  margin-top: 0rem;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

/* Adjust z-index for modal */
.custom-modal-content {
  z-index: 1060; /* Ensure modal content appears above the overlay */
}

/* Create Post Button Styling */

.text-xs {
  font-size: 0.7rem;
}

.border-left-primary {
  border-left: 0.25rem solid midnightblue !important;
}

/* Footer */

footer.sticky-footer {
  padding: 1.5rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.custom-button {
  background-color: midnightblue;
  color: white;
  border-radius: 0.4rem;
  padding: 0.5em;
}

.custom-button:hover {
  background-color: rgb(18, 18, 82);
  color: white;
}
